* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(219, 219, 219);
}

header {
  width: 200px;
}
.papaya {
  width: 350px;
}

.div-ing {
  display: flex;
  padding: 10px;
  line-height: 30px;
  padding-top: 20px;
  font-family: "Merienda", cursive;
  padding-bottom: 20px;
}

div.ing li {
  list-style-type: none;
}
div.ingg li {
  list-style-type: none;
}

.div-principal {
  width: 85%;
  margin-left: 50px;

  margin-top: 10px;
}

h1,
h3 {
  padding: 10px;
  font-family: "Kaushan Script", cursive;
}
h1 {
  font-size: 40px;
  text-shadow: 1px 1px rgb(255, 255, 255);
}

.ii {
  padding-top: 20px;
}

.ingg {
  margin-left: 300px;
}
.papaya {
  padding-top: 15px;
  margin-left: 5px;
}
.ol-ing {
  padding: 10px;
}

.ol-ing {
  padding-top: 20px;
  line-height: 30px;
  font-family: "Merienda", cursive;
  margin-left: 10px;
}

.logo {
  padding: 10px;
}

.p-uno {
  font-family: "Merienda", cursive;
  line-height: 25px;
  padding: 10px;
  padding-bottom: 20px;
}

h3 {
  color: darkcyan;
  text-shadow: 1px 1px black;
}
